@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    margin: 0;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

#header{
    background-color: #1abc9c;
    height: 150px;
    margin: 0px;
    line-height: 150px;
}

#header a {
    color: white;
    text-decoration: none;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header a:hover {
    color: #222;
}

#header-title {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

#header-nav {
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
}

#header-nav li{
    display: inline;
    padding-left: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#footer {
    background-color: #2f2f2f;
    padding: 50px 0;
    height: 100px;
    margin-bottom: 0;
}

.column {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}

a {
    color: #1abc9c;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #F6A623;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    line-height: 1.5;
}

.bank-button, .paper-button, .schedule-button, .result-button{
    background-color: white;
    border: 2px solid #555555;
    padding: 32px 16px;
    color: #F6A623;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    height: 120px;
    margin: 20px 50px;
    width: 300px;
    border-radius: 12px;
    transition: width 2s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

#content{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bank-button:hover{
    background-color: #008CBA;
    color: white;
    width: 400px;
}

.paper-button:hover{
    background-color: #008CBA;
    color: white;
    width: 400px;
}

.schedule-button:hover{
    background-color: #008CBA;
    color: white;
    width: 400px;
}

.result-button:hover{
    background-color: #008CBA;
    color: white;
    width: 400px;
}

.left-container, .right-container{
    text-align: center;
}