body, html {
    margin: 0px;
    font-family: sans-serif;
    width: 100%;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
}
  
#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

p{
    text-align: center;
    margin: auto;
}
  
#table tr:nth-child(even){background-color: #f2f2f2;}
  
#table tr:hover {background-color: #ddd;}
  
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#header{
    background-color: #1abc9c;
    height: 100px;
    margin: 0px;
    line-height: 110px;
}

#header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header a:hover {
    color: #222;
}

#header-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
}

#logout{
    font-size: 20px;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer {
    position: sticky;
    background-color: #2f2f2f;
    height: 100px;
    width: 100%;
    bottom: 0;
}

h1{
    text-align: center;
    margin-top: 0;
    letter-spacing: 2px;
    color:  #2f2f2f;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px 50px;
}
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

li{
    display: inline;
    padding-left: 300px;
    font-size: large;
}

span{
    font-weight: bold;
}

.button-group .button{
    float: left;
}
.button-group{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.detail-list{
    text-align: center;
    margin-bottom: 0px;
}

.checkbox{
    text-align: center;
    margin: 5px;
    height: 10px;

}

#checkbox-cell{
    text-align: center;
}

.largest-width{
    max-width: 300px;
    word-wrap: break-word;
}

.large-width{
    max-width: 200px;
    word-wrap: break-word;
}

