<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepagestyle.css') }}">
    </head>
    <body>
        <div id="header">
            <div class="container">
                <a id="header-title" href="/teacherHome">Online Exam</a>
                <ul id="header-nav">
                    <li> <a href="/logout"> Log Out </a> </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div class="left-container">
                
                <a class="bank-button" href="/questionbank">Question bank  </a>

                
                <a class="paper-button" href="/questionpaper">Question Papers</a>

            </div>
            <div class="right-container">
                
                <a class="schedule-button" href="/schedule">Schedule a Test  </a>
                
                <a class="result-button" href="#">Results  </a>

            </div>
        </div>
        
        <div id="footer">
        </div>
    </body>
</html>